* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-color: #f3f3f3;
}

.main-banner {
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.main-banner .imgBan {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.main-banner #imgBan3 {
    background-image: url(images/IMG_0075.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgBan2 {
    background-image: url(images/IMG_0078.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgBan1 {
    background-image: url(images/IMG_0077.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgBanBtn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 180px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
}

.imgBanBtn {
    opacity: 0.9;
}

.imgBanBtn-prev {
    left: 5px;
    background-image: url(./images/Left-arrow.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.imgBanBtn-next {
    right: 5px;
    background-image: url(./images/Right-arrow.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}